# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Virtual environments
firefusion_env/
venv/
.env

# OS metadata
.DS_Store
*.swp

# Data files (large)
*.geojson
*.csv

.vscode/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan

# Terraform local variables / secrets
*.auto.tfvars
!*.auto.tfvars.example
terraform.tfvars
!terraform.tfvars.example

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Kubernetes local configuration
kubeconfig
*.kubeconfig

# Helm / secrets
*.secret.yaml
secrets.yaml